@-webkit-keyframes movebackgroundSky {
    0% {background-position: 0px bottom;}
    100% {background-position:-552px bottom;}
}

@-webkit-keyframes movebackgroundEarth {
    0% {background-position: 0px top;}
    100% {background-position:-1344px top;}
}

@-webkit-keyframes birdanimation {
    0% {background-position: 0px -0px;}
    100%{background-position:-0px -72px;}
}

@-webkit-keyframes branchAnimationBottom {
    0% {left: 1200px;}
    100%{left:-50px;}
}

@-webkit-keyframes branchAnimationTop {
    0% {left: 1000px;}
    100%{left:-50px;}
}

body, html {
	height:100%;
	margin:0;
	padding:0;
}

#container{
	width:100%;
	height:100%;
}

#container-game{
	width:100%;
	height:100%;

}

#container-sky{
	position:absolute;
	top:0;
	height:80%;
	width:100%;
	background-image: url(images/sky.png);
	background-position: bottom;
	background-repeat: repeat-x;
	background-color:#6FBCCC;
	-webkit-animation-name: movebackgroundSky ;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	

}

#container-floor{
	position:absolute;
	bottom:0;
	height:20%;
	width:100%;
	background-image: url(images/land.png);
	background-repeat: repeat-x;
	background-color:#ded895;
	-webkit-animation-name: movebackgroundEarth ;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	
}

#gameplay-area{
	min-height:420px;
	width:100%;
	position:absolute;
	bottom:0;
}

.bird{
	position:absolute;
	top:210px;
	left: 60px;
	height:24px;
	width:34px;
	background-image:url('images/bird.png');
	background-position: 0px -12px;
	animation: birdanimation 0.3s steps(3) infinite;
}

.ceiling{
	position:absolute;
	top:0;
	width:100%;
	height:32px;
	background-image: url(images/ceiling.png);
	-webkit-animation-name: movebackgroundEarth ;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

.div-branch-bottom{
	position:absolute;
	right:0px;
	bottom:0;
	width:30px;
	height:91%;
	-webkit-animation-name: branchAnimationBottom;
	-webkit-animation-duration: 9.4s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

}

.branch-bottom{
	position:absolute;
	bottom:0;
	height:100px;
	width:100%;
	background-image: url(images/branch.png);
	background-repeat: repeat-y;
	background-position:bottom center;
}

.branch-bottom:after{
	content:"";
	height:55px;
	width:30px;
	background-image:url(images/fork_head.png);
	background-position:center;
	display:inline-block;
	position:absolute;
	top:-55px;
}


.div-branch-top{
	position:absolute;
	top:32px;
	left:900px;
	width:30px;
	height:91%;
	-webkit-animation-name: branchAnimationTop;
	-webkit-animation-duration: 7.8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	
}

.branch-top{
	position:absolute;
	top:0;
	height:110px;
	width:100%;
	background-image: url(images/branch.png);
	background-repeat: repeat-y;
	background-position:bottom center;
}


.branch-top:after{
	content:"";
	height:55px;
	width:30px;
	background-image:url(images/fork_head_down.png);
	background-position:center;
	display:inline-block;
	position:absolute;
	bottom:-55px;
}
