

body, html {
	height:100%;
	margin:0;
	padding:0;
}

#container{
	width:100%;
	height:100%;
}

#container-game{
	width:100%;
	height:100%;
	
}

#container-sky{
	position:absolute;
	top:0;
	height:80%;
	width:100%;
	background-image: url(images/sky.png);
	background-position:center bottom;
	background-repeat: repeat-x;
	background-color:#6FBCCC;

	


}

#container-floor{
	position:absolute;
	bottom:0;
	height:20%;
	width:100%;
	background-image: url(images/land.png);
	background-repeat: repeat-x;
	background-color:#ded895;
	
}